@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 44px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-right: 156px;
}

.menu {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 32px;
  }

  &__link {
    font-size: 15px;
    color: #436372;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: color border-color 0.5s;
    @extend %Rubik-500;

    &:hover {
      color: red;
      border-color: red;
    }
  }
}

.user {
  display: flex;

  &__search {
    position: relative;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 18px;
      left: 18px;
      background-image: url('../images/search.svg');
      background-repeat: no-repeat;
    }
  }



  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcd7b6;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    margin-right: 18px;
  }

  &__liked {
    position: relative;
    background-color: #fcd7b6;
    background-image: url('../images/liked.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    left: 19px;
    top: 4px;
  }

  &__zero {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    font-size: 10px;
    top: -7px;
    left: 10px;
    color: #243f4d;
    @extend %DMSans-400;
  }

  &__text {
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
  }

  &__cart {
    position: relative;
    background-image: url('../images/cart.svg');
    background-repeat: no-repeat;
    width: 19px;
    height: 17px;
    right: 19px;
    top: 4px;
  }

  &__btn {
    position: relative;
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/user-btn.svg');
      width: 20px;
      height: 21px;
      top: 14px;
      left: 15px;
    }
  }
}

.bottom {
  padding: 78px 0 76px;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  &__box {
    width: 300px;

  }

  &__box--input {
    width: 270px;
  }

  .logo {
    margin: 0;

    &__img {
      padding-bottom: 25px;
    }
  }

  &__address {
    font-style: normal;
  }

  &__street,
  &__phone,
  &__email {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #8d8d8d;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__title {
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.3;
    padding: 18px 10px;
    text-transform: uppercase;
  }

  &__item:not(:last-child) {
    margin-bottom: 6px;
  }

  &__item--street {
    width: 200px;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #8d8d8d;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__text {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #8d8d8d;
    margin-bottom: 38px;
  }

  &__form {
    display: flex;
  }

  &__input {
    background-color: #fef7f0;
    max-width: 170px;
    border: none;
    padding: 6px 6px 6px 14px;

    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    max-width: 100px;
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
  }
}

.floor {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 2.2;
    color: #8d8d8d;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 12px;
    border-right: 1px solid #7b7b7b;
    margin-right: 12px;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 2.2;
    color: #8d8d8d;
  }
}

.trendy {
  &__item {
    background-color: #fcd7b6;
    padding: 94px 180px 84px 300px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 1.1;
    max-width: 420px;
    padding-top: 110px;
    margin-bottom: 26px;
    color: #243f4d;
    text-transform: uppercase;
  }

  &__text {
    @extend %Rubik-400;
    max-width: 370px;
    font-size: 18px;
    color: #436372;
    margin-bottom: 41px;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -74px;
    left: 50%;
    transform: translateX(-50%);

    li {
      button {
        padding: 0;
        @extend %Rubik-500;
        font-size: 11px;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        color: #667983;
      }

      &.slick-active {
        button {
          background-color: #ffffff;
        }
      }
    }

    li:not(:last-child) {
      margin-right: 11px;
    }
  }
}

.button {
  position: relative;
  max-width: 200px;
  padding: 16px 0 16px 29px;
  background-color: #a3bbc8;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/btn-img.png');
    width: 22px;
    height: 9px;
    top: 26px;
    right: 16px;
  }

  &__btn {
    @extend %Rubik-500;
    font-size: 15px;
    color: #ffffff;
  }
}

.info {

  &__box {
    background-color: #fef7f0;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    max-width: 590px;
    width: 100%;
    padding: 46px 0 46px 222px;

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 144px;
    }
  }

  &__item--support::before {
    width: 51px;
    height: 53px;
    background-image: url('../images/support.svg');
  }

  &__item--cars::before {
    width: 54px;
    height: 36px;
    background-image: url('../images/cars.svg');
  }

  &__item--info::before {
    width: 54px;
    height: 52px;
    background-image: url('../images/info.svg');
  }

  &__item:not(:last-child) {
    border-right: 1px solid #e8e4df;
  }

  &__title {
    display: block;
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 2.2;
    color: #414141;
    margin-bottom: 6px;
  }

  &__text {
    max-width: 208px;
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 1.8;
    color: #585858;
  }

  &__text--width {
    max-width: 220px;
  }
}

.product {
  padding-top: 50px;
}

.complex {
  margin-bottom: 80px;

  &__title {
    text-align: center;
    @extend %DMSans-700;
    font-size: 36px;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 19px;
  }

  &__btn {
    border: none;
    background-color: #ffffff;
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    transition: color 0.6s;

    &:hover {
      color: #191919;
    }
  }
}

.content {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    max-width: 270px;
    height: 380px;
    width: 100%;
    padding: 30px 20px 19px;
    margin-bottom: 30px;

    &:not(:nth-child(4n+4)) {
      margin-right: 30px;
    }

    &:hover {
      .usage {
        transform: translateY(0);
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 230px;
    height: 210px;
  }

  &__name {
    text-align: center;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 2.5;
    color: #243f4d;
  }

  &__price {
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 2.5;
    color: #a3bbc8;
  }
}

.usage {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 45px;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 150px;
  transform: translateY(500%);

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;

    &:hover {
      background-color: #a3bbc8;

      path {
        fill: #ffffff;
      }
    }
  }
}

.lamp {
  padding-top: 180px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    padding: 84px 0;

    &::before {
      content: "";
      position: absolute;
    }

    &--table::before {
      background-image: url('../images/table.png');
      width: 233px;
      height: 405px;
      top: -107px;
      left: 140px;
    }

    &--desk::before {
      background-image: url('../images/desk.png');
      width: 222px;
      height: 399px;
      top: -96px;
      left: 144px;
    }
  }

  &__blog {
    margin-right: 144px;
  }

  &__blog--width {
    margin-right: 124px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 1.2;
    color: #243f4d;
    margin-bottom: 27px;
    max-width: 250px;
  }

  &__text {
    max-width: 340px;
    margin-bottom: 34px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
  }

  &__link {
    position: relative;
    @extend %Rubik-500;
    font-size: 15px;
    color: #436372;
    padding: 22px 84px 22px 18px;
    border: 1px solid #b3b7b5;
    border-radius: 4px;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/btn-arrow.svg');
      width: 22px;
      height: 9px;
      top: 26px;
      right: 18px;
    }
  }
}

.design {
  padding: 88px 0 61px;
}

.desing-content {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    padding: 14px 0 132px 44px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 34px;

    &:not(:nth-child(3n+3)) {
      margin-right: 30px;
    }
  }

  &__title {
    @extend %DMSans-700;
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 20px;
    max-width: 175px;
  }

  &__link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
  }

  &__img {
    position: absolute;
    left: 100px;
    bottom: 46px;
  }

  &__img--armchair {
    top: 60px;
    left: 193px;
  }

  &__img--chair {
    top: 50px;
    left: 200px;
  }
}

.video {
  position: relative;
  background-repeat: no-repeat;
  max-width: 1920px;
  min-height: 500px;

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.article {
  position: relative;
  padding: 116px 0 249px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #1a1a1a;
  }

  &__link {
    position: relative;
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 24px;
    transition: color 0.5s;

    &::after {
      position: absolute;
      content: "";
      background-image: url('../images/article-shape.svg');
      background-repeat: no-repeat;
      width: 6px;
      height: 11px;
      top: 9px;
      right: 0;
    }

    &:hover {
      color: #07f349;
    }
  }

  &__list {
    position: absolute;
    display: flex;
  }

  &__item {
    position: relative;
    max-width: 370px;
    background-color: #ffffff;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
    margin-bottom: 34px;
  }

  &__info {
    max-width: 315px;
    margin: 0 auto 26px;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 18px;
    line-height: 1.3;
    color: #262626;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;

    &--indent {
      padding-bottom: 38px;
    }
  }

  &__date {
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #222933;
    margin-right: 30px;
  }

  &__admin {
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #222933;
    transition: color 0.5s;

    &:hover {
      color: #052df9;
    }
  }

  &__new {
    position: absolute;
    @extend %DMSans-700;
    font-size: 14px;
    line-height: 1.4;
    color: #ffffff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    padding: 6px 31px;
    border-radius: 15px;
    top: 234px;
    left: 28px;
  }
}

.stamp-slider {
  padding: 292px 0 82px;
  background-color: #fef7f0;

  &__inner {
    display: flex;
  }

  &__art:not(:last-child) {
    margin-right: 94px;
  }
}





@import 'media';