@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 44px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.logo {
  margin-right: 156px;
  object-fit: cover;

  @media (max-width: 1200px) {
    margin-right: 0;
  }
}

.menu {
  &__btn {
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__list {
    display: flex;

    @media (max-width: 1200px) {
      position: absolute;
      z-index: 5;
      left: 0;
      right: 0;
      top: 100px;
      background-color: #ccc;
      display: block;
      text-align: center;
      transform: translateY(-200%);
    }
  }

  &__list--active {
    @media (max-width: 1200px) {
      transform: translateY(0);
    }
  }

  &__item:not(:last-child) {
    margin-right: 32px;

    @media (max-width: 1200px) {
      margin: 0;
    }
  }

  &__link {
    font-size: 15px;
    color: #436372;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: color border-color 0.5s;
    @extend %Rubik-500;

    @media (max-width: 1200px) {
      display: block;
      padding-bottom: 22px;
    }

    &:hover {
      color: red;
      border-color: red;
    }
  }
}

.user {
  display: flex;

  &__search {
    position: relative;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 18px;
      left: 18px;
      background-image: url('../images/search.svg');
      background-repeat: no-repeat;
    }
  }



  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcd7b6;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    margin-right: 18px;

    @media (max-width: 320px) {
      width: 100px;
    }
  }

  &__liked {
    position: relative;
    background-color: #fcd7b6;
    background-image: url('../images/liked.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    left: 19px;
    top: 4px;
  }

  &__zero {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    font-size: 10px;
    top: -7px;
    left: 10px;
    color: #243f4d;
    @extend %DMSans-400;
  }

  &__text {
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
  }

  &__cart {
    position: relative;
    background-image: url('../images/cart.svg');
    background-repeat: no-repeat;
    width: 19px;
    height: 17px;
    right: 19px;
    top: 4px;
  }

  &__btn {
    position: relative;
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/user-btn.svg');
      width: 20px;
      height: 21px;
      top: 14px;
      left: 15px;
    }
  }
}

.bottom {
  padding: 78px 0 76px;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }

  &__box {
    width: 300px;

  }

  &__box--input {
    width: 270px;
  }

  .logo {
    margin: 0;

    &__img {
      padding-bottom: 25px;
    }
  }

  &__address {
    font-style: normal;
  }

  &__street,
  &__phone,
  &__email {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #8d8d8d;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__title {
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.3;
    padding: 18px 10px;
    text-transform: uppercase;
  }

  &__item:not(:last-child) {
    margin-bottom: 6px;
  }

  &__item--street {
    width: 200px;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #8d8d8d;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__text {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #8d8d8d;
    margin-bottom: 38px;
  }

  &__form {
    display: flex;
  }

  &__input {
    background-color: #fef7f0;
    max-width: 170px;
    border: none;
    padding: 6px 6px 6px 14px;

    &::placeholder {
      @extend %DMSans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    max-width: 100px;
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
  }
}

.floor {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 575px) {
    flex-direction: column;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 2.2;
    color: #8d8d8d;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 12px;
    border-right: 1px solid #7b7b7b;
    margin-right: 12px;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 2.2;
    color: #8d8d8d;
  }
}

.trendy {
  &__item {
    background-color: #fcd7b6;
    padding: 94px 180px 84px 300px;

    @media (max-width: 1500px) {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 1.1;
    max-width: 420px;
    padding-top: 110px;
    margin-bottom: 26px;
    color: #243f4d;
    text-transform: uppercase;

    @media (max-width: 920px) {
      font-size: 30px;
    }
  }

  &__text {
    @extend %Rubik-400;
    max-width: 370px;
    font-size: 18px;
    color: #436372;
    margin-bottom: 41px;
  }
}

@media (max-width: 500px) {
  .slick-slide img {
    display: none;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  // margin-top: -74px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  li {
    button {
      padding: 0;
      @extend %Rubik-500;
      font-size: 11px;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      border: none;
      background-color: #fde3cc;
      color: #667983;
    }

    &.slick-active {
      button {
        background-color: #ffffff;
      }
    }
  }

  li:not(:last-child) {
    margin-right: 11px;
  }
}

.button {
  position: relative;
  max-width: 200px;
  padding: 16px 0 16px 29px;
  background-color: #a3bbc8;

  @media (max-width: 320px) {
    padding: 6px 0 6px 12px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/btn-img.png');
    width: 22px;
    height: 9px;
    top: 26px;
    right: 16px;

    @media (max-width: 320px) {
      top: 15px;
      right: 1px;
    }
  }

  &__btn {
    @extend %Rubik-500;
    font-size: 15px;
    color: #ffffff;
  }
}

.info {

  &__box {
    background-color: #fef7f0;
  }

  &__list {
    display: flex;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    max-width: 590px;
    width: 100%;
    padding: 46px 0 46px 222px;

    @media (max-width: 575px) {
      padding-left: 80px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 144px;

      @media (max-width: 575px) {
        left: 12px;
      }
    }
  }

  &__item--support::before {
    width: 51px;
    height: 53px;
    background-image: url('../images/support.svg');
  }

  &__item--cars::before {
    width: 54px;
    height: 36px;
    background-image: url('../images/cars.svg');
  }

  &__item--info::before {
    width: 54px;
    height: 52px;
    background-image: url('../images/info.svg');
  }

  &__item:not(:last-child) {
    border-right: 1px solid #e8e4df;
  }

  &__title {
    display: block;
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 2.2;
    color: #414141;
    margin-bottom: 6px;
  }

  &__text {
    max-width: 208px;
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 1.8;
    color: #585858;
  }

  &__text--width {
    max-width: 220px;
  }
}

.product {
  padding-top: 50px;
}

.complex {
  margin-bottom: 80px;

  &__title {
    text-align: center;
    @extend %DMSans-700;
    font-size: 36px;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: center;

    @media (max-width: 575px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 19px;
  }

  &__btn {
    border: none;
    background-color: #ffffff;
    @extend %DMSans-700;
    font-size: 16px;
    color: #8b8b8b;
    transition: color 0.6s;

    @media (max-width: 575px) {
      padding-top: 19px;
    }

    &:hover {
      color: #191919;
    }
  }
}

.content {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    max-width: 270px;
    height: 380px;
    width: 100%;
    padding: 30px 20px 19px;
    margin-bottom: 30px;

    &:not(:nth-child(4n+4)) {
      margin-right: 30px;
    }

    &:hover {
      .usage {
        transform: translateY(0);
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 230px;
    height: 210px;
  }

  &__name {
    text-align: center;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 2.5;
    color: #243f4d;
  }

  &__price {
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 2.5;
    color: #a3bbc8;
  }
}

.usage {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 45px;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 150px;
  transform: translateY(500%);

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;

    &:hover {
      background-color: #a3bbc8;

      path {
        fill: #ffffff;
      }
    }
  }
}

.lamp {
  padding-top: 180px;

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1778px) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    padding: 84px 0;

    @media (max-width: 1778px) {
      margin-bottom: 200px;
      align-items: center;
    }

    @media (max-width: 575px) {
      max-width: 315px;
    }

    &::before {
      content: "";
      position: absolute;
    }

    &--table::before {
      background-image: url('../images/table.png');
      width: 233px;
      height: 405px;
      top: -107px;
      left: 140px;

      @media (max-width: 842px) {
        display: none;
      }
    }

    &--desk::before {
      background-image: url('../images/desk.png');
      width: 222px;
      height: 399px;
      top: -96px;
      left: 144px;

      @media (max-width: 842px) {
        display: none;
      }
    }
  }

  &__blog {
    margin-right: 144px;
  }

  &__blog--width {
    margin-right: 124px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 1.2;
    color: #243f4d;
    margin-bottom: 27px;
    max-width: 250px;
  }

  &__text {
    max-width: 340px;
    margin-bottom: 34px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
  }

  &__link {
    position: relative;
    @extend %Rubik-500;
    font-size: 15px;
    color: #436372;
    padding: 22px 84px 22px 18px;
    border: 1px solid #b3b7b5;
    border-radius: 4px;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/btn-arrow.svg');
      width: 22px;
      height: 9px;
      top: 26px;
      right: 18px;
    }
  }
}

.design {
  padding: 88px 0 61px;
}

.desing-content {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    overflow: hidden;
    background-color: #f8f8f8;
    padding: 14px 0 132px 44px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 34px;

    &:not(:nth-child(3n+3)) {
      margin-right: 30px;
    }
  }

  &__title {
    @extend %DMSans-700;
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 20px;
    max-width: 175px;
  }

  &__link {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
  }

  &__img {
    position: absolute;
    left: 100px;
    bottom: 46px;
  }

  &__img--armchair {
    top: 60px;
    left: 193px;
  }

  &__img--chair {
    top: 50px;
    left: 200px;
  }
}

.video {
  position: relative;
  background-repeat: no-repeat;
  max-width: 1920px;
  min-height: 500px;

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.article {
  position: relative;
  padding: 116px 0 249px;

  @media (max-width: 1200px) {
    padding-bottom: 1414px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #1a1a1a;
  }

  &__link {
    position: relative;
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 24px;
    transition: color 0.5s;

    &::after {
      position: absolute;
      content: "";
      background-image: url('../images/article-shape.svg');
      background-repeat: no-repeat;
      width: 6px;
      height: 11px;
      top: 9px;
      right: 0;
    }

    &:hover {
      color: #07f349;
    }
  }

  &__list {
    position: absolute;
    display: flex;

    @media (max-width: 1200px) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    max-width: 370px;
    background-color: #ffffff;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__img {
    margin-bottom: 34px;
  }

  &__info {
    max-width: 315px;
    margin: 0 auto 26px;
  }

  &__text {
    @extend %DMSans-500;
    font-size: 18px;
    line-height: 1.3;
    color: #262626;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;

    &--indent {
      padding-bottom: 38px;
    }
  }

  &__date {
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #222933;
    margin-right: 30px;
  }

  &__admin {
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #222933;
    transition: color 0.5s;

    &:hover {
      color: #052df9;
    }
  }

  &__new {
    position: absolute;
    @extend %DMSans-700;
    font-size: 14px;
    line-height: 1.4;
    color: #ffffff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    padding: 6px 31px;
    border-radius: 15px;
    top: 234px;
    left: 28px;

    @media (max-width: 320px) {
      top: 170px;
      left: 28px;
    }
  }
}

.stamp-slider {
  padding: 292px 0 82px;
  background-color: #fef7f0;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__art:not(:last-child) {
    margin-right: 94px;
  }
}

.top {
  background-color: #edf1f4;
  padding: 23px 0 20px;

  &__title {
    @extend %Rubik-300;
    font-size: 36px;
    color: #222933;
    text-align: center;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
      padding-right: 14px;
    }

    &::after {
      content: "/";
      position: absolute;
      top: 3px;
      right: 0;
      @extend %Rubik-400;
      font-size: 14px;
      line-height: 1.7;
      color: #737980;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #737980;
  }
}

.modal {
  max-width: 470px;
  margin: 0 auto;
  padding: 120px 0;

  &__label {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #667d89;
  }

  &__input {
    display: block;
    width: 100%;
    margin: 14px 0 28px;
    padding: 0 15px;
    border: 2px solid #f6f6f6;
    height: 56px;
  }

  &__input--bottom {
    margin-bottom: 37px;
  }

  &__btn {
    display: block;
    background-color: #a3bbc8;
    border: none;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 1.7;
    color: #fffefe;
    width: 100%;
    padding: 15px 0 15px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__remember {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #436372;
    margin-right: 165px;
  }

  &__lost {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #436372;
  }

  &__links {
    display: flex;
    justify-content: center;
    padding: 30px 0 26px;
    margin-top: 30px;
    border-top: 2px solid #f6f6f6;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.7;
    color: #436372;
  }

  &__link--right {
    margin-right: 4px;
  }

  &__account {
    display: block;
    width: 100%;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 1.7;
    color: #243f4d;
    cursor: pointer;
    padding: 13px 0 13px;
    border: 2px solid #a3bbc8;
    background-color: #ffffff;
  }
}

.brend-slider {
  padding: 80px 0 81px;
  background-color: #fef7f0;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__art:not(:last-child) {
    margin-right: 94px;
  }
}

.ware {
  padding: 120px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.filter {
  max-width: 270px;
  width: 100%;
}

.category {
  margin-bottom: 62px;

  &__item {
    border-radius: 4px;
    transition: background-color 0.5s;

    &:hover {
      background-color: #edf1f4;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 1px 22px 1px 15px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 2.6;
    color: #64727b;

    &::after {
      position: absolute;
      content: "";
      width: 5px;
      height: 10px;
      background-image: url('../images/shape.svg');
      background-repeat: no-repeat;
      top: 16px;
      right: 22px;
    }
  }
}

.launch {
  display: flex;
  margin-bottom: 28px;
  align-items: center;

  &__title {
    position: relative;
    @extend %DMSans-700;
    font-size: 18px;
    color: #243f4d;
    text-transform: uppercase;
    overflow: hidden;
    margin-right: 15px;
  }

  &__solid {
    background-image: url('../images/solid-img.svg');
    width: 38px;
    height: 2px;
  }
}

.irs--flat .irs-line {
  top: 6px;
  height: 4px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #a3bbc8;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
  top: 58px;
}

.price {
  margin-bottom: 60px;

  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 3;
    color: #243f4d;
  }
}

.brand {
  margin-bottom: 56px;

  &__item {
    border-radius: 4px;
    transition: background-color 0.5s;

    &:hover {
      background-color: #edf1f4;
    }
  }

  &__link {
    display: block;
    padding: 1px 0 1px 15px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 2.6;
    color: #243f4d;

    &:hover {
      color: #243f4d;
    }
  }

  &__text {
    padding: 12px 0 12px 178px;
    color: #b3b3b3;

    &:hover {
      color: #243f4d;
    }
  }

  &__text--a {
    padding-left: 142px;
  }

  &__text--b {
    padding-left: 168px;
  }

  &__text--c {
    padding-left: 164px;
  }

  &__text--d {
    padding-left: 171px;
  }
}

.recent {

  &__item {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__image {
    margin-right: 20px;
  }

  &__content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__worth {
    @extend %Rubik-400;
    font-size: 15px;
    line-height: 1.8;
    color: #333333;
  }
}

.star {
  padding: 0;
}

.content--width {
  max-width: 870px;
}

.content__listing {
  display: flex;
  flex-wrap: wrap;
}

.content__shell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  width: 100%;
  padding: 30px 20px 19px;
  margin-bottom: 40px;

  &:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }

  &:hover {
    .usage {
      transform: translateY(0);
    }
  }
}

.sheath {
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  height: 51px;

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    padding: 14px 18px;
    border: 2px solid #a3bbc8;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      color: #f9fafb;
      background-color: #a3bbc8;
    }
  }

  &__link--active {
    color: #f9fafb;
    background-color: #a3bbc8;
  }
}

.have {
  padding: 120px 0;
}

.have-content--width {
  max-width: 870px;
  width: 100%;
}

.have-content {
  padding-top: 6px;

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/have-bg.png');
    background-size: cover;
    max-width: 370px;
    min-height: 501px;
    width: 100%;
  }

  &__wooden {
    padding: 81px 0 0 30px;
    max-width: 470px;
    width: 100%;
  }

  &__title {
    @extend %Rubik-400;
    font-size: 40px;
    color: #333333;
    margin-bottom: 15px;
  }

  &__worth {
    @extend %Rubik-400;
    font-size: 30px;
    line-height: 1.5;
    color: #333333;
    padding-top: 34px;
    margin-bottom: 30px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    margin-bottom: 34px;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 15px;
    line-height: 2;
    color: #ffffff;
    padding: 16px 57px;
    background-color: #a3bbc8;
    text-transform: uppercase;
    border-radius: 4px;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    max-width: 111px;
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 15px 14px;
    background-color: #ffffff;
    transition: all 0.7s;

    &:hover {
      background-color: #a3bac7;

      path {
        fill: #f9fafb;
      }
    }
  }

  &__like {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 16px 14px;
    background-color: #ffffff;
    transition: all 0.7s;

    &:hover {
      background-color: #a3bac7;

      path {
        fill: #f9fafb;
      }
    }
  }

  &__box {
    padding-top: 86px;
  }
}

.about {
  padding: 120px 0;

  &__image {
    max-width: 570px;
    width: 100%;
  }

  &__content {
    max-width: 552px;
    width: 100%;
  }

  &__history {
    display: flex;
  }

  &__years {
    @extend %Rubik-700;
    font-weight: bold;
    font-size: 140px;
    line-height: 1.2;
    color: #a3bbc8;
    margin-right: 27px;
    padding-top: 57px;
  }

  &__working {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    max-width: 85px;
    padding-top: 110px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #243f4d;
    margin-bottom: 36px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #7c8c94;
    padding-bottom: 64px;
    margin-bottom: 30px;
    border-bottom: 2px solid #e6eaf0;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    max-width: 184px;
    width: 100%;
    padding: 0 0 17px 63px;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0px;
    }
  }

  &__item:not(:last-child) {
    border-right: 1px solid #e6eaf0;
    margin-right: 24px;
  }

  &__item--picture-1::before {
    background-image: url('../images/sum-1.svg');
    width: 36px;
    height: 38px;
  }

  &__item--picture-2::before {
    background-image: url('../images/sum-2.svg');
    width: 43px;
    height: 39px;
  }

  &__item--picture-3::before {
    background-image: url('../images/sum-3.svg');
    width: 42px;
    height: 40px;
  }

  &__sum {
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 1.1;
    color: #243f4d;
    margin-bottom: 8px;
  }

  &__trend {
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.1;
    color: #4c4c4c;
  }
}

.statistic {
  padding: 80px 0 78px;
  background-color: #fcd7b6;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    max-width: 270px;
    width: 100%;
    text-align: center;
    padding-top: 80px;

    &::before {
      content: "";
      position: absolute;
    }
  }

  &__item--picture-1::before {
    background-image: url('../images/statistic-1.svg');
    background-repeat: no-repeat;
    width: 73px;
    height: 59px;
    top: 0;
    left: 100px;
  }

  &__item--picture-2::before {
    background-image: url('../images/statistic-2.svg');
    background-repeat: no-repeat;
    width: 72px;
    height: 51px;
    top: 8px;
    left: 100px;
  }

  &__item--picture-3::before {
    background-image: url('../images/statistic-3.svg');
    background-repeat: no-repeat;
    width: 78px;
    height: 64px;
    top: 0;
    left: 100px;
  }

  &__item--picture-4::before {
    background-image: url('../images/statistic-4.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 64px;
    top: 0;
    left: 104px;
  }

  &__sum {
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 1.1;
    color: #243f4d;
    margin-bottom: 12px;
  }

  &__text {
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 1.7;
    color: #243f4d;
  }
}

.team {
  padding-top: 120px;

  &__joining {
    max-width: 307px;
    width: 100%;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    margin-bottom: 38px;
  }

  &__btn {
    height: 50px;
  }

  &__link {
    position: relative;
    padding: 16px 62px 16px 22px;
    background-color: #a3bbc8;
    border-radius: 4px;
    @extend %Poppins-600;
    font-size: 15px;
    line-height: 3.6;
    color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/join-img.svg');
      background-repeat: no-repeat;
      width: 15px;
      height: 11px;
      top: 19px;
      right: 26px;
    }
  }

  &__profile {
    max-width: 770px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    max-width: 370px;
    width: 100%;
  }

  &__image {
    padding-bottom: 64px;
  }

  &__person {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 24px 21px 24px 24px;
    max-width: 324px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &__post {
    // margin-right: 43px;
    max-width: 145px;
  }

  &__name {
    max-width: 146px;
    width: 100%;
    @extend %DMSans-700;
    font-size: 22px;
    line-height: 1.1;
    color: #436372;
    margin-bottom: 7px;
  }

  &__tempor {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #565872;
  }

  &__social {
    display: flex;
    max-width: 92px;
  }

  &__icon {
    display: block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #f6f6f6;
  }

  &__icon--insta {
    background-image: url('../images/insta-img.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 7px;
  }

  &__icon--google {
    background-image: url('../images/google-img.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.terms {
  margin-top: 120px;
}

.personal {
  margin: 0 345px 0 396px;
  padding-bottom: 59px;

  &__title {
    @extend %Rubik-500;
    font-size: 24px;
    color: #243f4d;
    margin-bottom: 21px;
  }

  &__list {
    list-style: decimal-leading-zero;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
  }

  &__item:not(:last-child) {
    margin-bottom: 22px;
    max-width: 1200px;
  }
}

.collect {
  margin-bottom: 56px;
}

.blog {
  padding: 120px 0 114px 0;
}

.styling {
  max-width: 830px;

  &__item:not(:last-child) {
    margin-bottom: 50px;
  }

  &__info {
    position: relative;
    margin-bottom: 30px;
  }

  &__appeal {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #a3bbc8;
    max-width: 275px;
    width: 100%;
    padding: 20px 30px 20px 40px;
    left: 0;
    bottom: 0;
  }

  &__date {
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    color: #f3f6f8;
    text-transform: uppercase;
  }

  &__admin {
    display: block;
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    color: #f3f6f8;
    text-transform: uppercase;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__title {
    @extend %Rubik-400;
    font-size: 36px;
    color: #333333;
    margin-bottom: 28px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    margin-bottom: 32px;
  }

  &__btn {
    position: relative;
    max-width: 180px;
    width: 100%;
    padding: 18px 0 18px 20px;
    border: 1px solid #a3bbc8;

    &::after {
      position: absolute;
      content: "";
      background-image: url('../images/pointer.svg');
      background-repeat: no-repeat;
      width: 22px;
      height: 9px;
      top: 27px;
      right: 20px;
    }
  }

  &__link {
    @extend %DMSans-700;
    font-size: 15px;
    color: #a3bbc8;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }
}

.sheath--padding {
  padding-top: 90px;
}

.search {
  max-width: 270px;
  width: 100%;

  &__form {
    display: flex;
    border: 2px solid #ebf1f3;
    border-radius: 4px;
    margin-bottom: 52px;
  }

  &__input {
    max-width: 222px;
    width: 100%;
    height: 43px;
    padding: 0 10px;
    border: none;
  }

  &__btn {
    position: relative;
    display: block;
    width: 48px;
    height: 43px;
    border: none;
    border-radius: 4px;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/search-icon.svg');
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      top: 14px;
      left: 16px;
    }
  }
}

.post {
  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__image {
    max-width: 70px;
    width: 100%;
  }

  &__option {
    max-width: 180px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
  }

  &__month {
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 2.5;
    color: #9a9a9a;
  }
}

.detalis {
  padding: 120px 0 100px 0;

  &__slide {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
  }

  &__item {
    width: 138px;
    height: 160px;
    background-image: url('../images/detalis-border.png');

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__image-big {
    width: 387px;
    height: 530px;
    background-image: url('../images/border-big.png');
  }

  &__img {
    width: 138px;
    height: 160px;
    object-fit: cover
  }

  &__img-big {
    object-fit: cover
  }

  &__product {
    max-width: 552px;
    width: 100%;
  }

  &__title {
    @extend %Rubik-400;
    font-size: 40px;
    color: #333333;
    padding-top: 13px;
  }

  &__price {
    @extend %Rubik-400;
    font-size: 30px;
    line-height: 1.5;
    color: #333333;
    padding-top: 28px;
    margin-bottom: 22px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    margin-bottom: 32px;
  }

  &__form {
    margin-bottom: 50px;
  }

  &__btn {
    @extend %Rubik-400;
    font-size: 15px;
    line-height: 2;
    color: #edf1f4;
    text-transform: uppercase;
    border: none;
    width: 208px;
    height: 53px;
    background-color: #a3bbc8;
    border-radius: 4px;
    margin-left: 15px;
  }

  &__kind {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
  }
}

.rating--padding {
  padding-left: 0;
}

.jq-number__field {
  width: 148px;
  border: 1px solid #a3bbc8;
  transform: translateY(1px);
}

.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  width: 32px;
  cursor: pointer;
}

.jq-number__spin.plus {
  width: 48px;
  height: 52px;
  right: 0;
  border-left: 1px solid #a3bbc8;
}

.jq-number__spin.minus {
  width: 48px;
  height: 52px;
  right: auto;
  left: 0;
  border-right: 1px solid #a3bbc8;
}

.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 1px;
  background-color: #333333;
}

.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 24px;
  width: 1px;
  height: 9px;
  background-color: #333333;
}

.jq-number__spin.minus:after {
  top: 26px;
  left: 20px;
}

.jq-number__spin.plus:after {
  top: 26px;
  left: 20px;
}

.jq-number__field input {
  width: 100%;
  height: 51px;
  border: none;
  outline: none;
  @extend %Rubik-400;
  color: #5c5c5c;
  text-align: center;
}

.choice {
  padding-bottom: 126px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__btn {
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 2.2;
    color: #243f4d;
    background-color: #edf1f4;
    border-radius: 4px;
    border: none;
    width: 241px;
    height: 53px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: #a3bbc8;
      color: #ffffff;
    }
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    padding-top: 30px;
  }
}

.related {

  &__item {
    display: flex;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #243f4d;
    margin-bottom: 70px;
  }
}

.content__item--remove {
  margin-bottom: 0;
}

.particular {
  padding-top: 120px;
}

.review {
  max-width: 830px;
  width: 100%;

  &__accent {
    @extend %Rubik-500;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    margin-bottom: 20px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #334c59;
    margin-bottom: 36px;
  }
}

.advise {
  background-color: #edf1f4;
  padding: 18px 0 18px 41px;
  border-left: 7px solid #a3bbc8;
  margin-bottom: 46px;

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    margin-bottom: 12px;
  }

  &__who {
    position: relative;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #243f4d;
    padding-left: 41px;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/who-img.svg');
      top: 13px;
      left: 0;
      width: 20px;
      height: 3px;
    }
  }
}

.riusmod {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;

  &__image {
    max-width: 323px;
    width: 100%;
  }

  &__box {
    max-width: 478px;
    padding: 15px 0 35px 0;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 1.6;
    color: #243f4d;
    margin-bottom: 20px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #565872;
  }
}

.ads {
  margin-bottom: 60px;

  &__title {
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 1.6;
    color: #243f4d;
    margin-bottom: 20px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #565872;
  }
}

.personality {
  padding: 26px 0 28px 0;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 60px;

  &__name {
    display: flex;
  }

  &__image {
    margin-right: 28px;
  }

  &__case {
    padding-top: 8px;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 18px;
    color: #333333;
    margin-bottom: 6px;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #707070;
  }

  &__text--padding {
    padding-left: 32px;
  }

  &__box {
    max-width: 206px;
    width: 100%;
    margin-right: 20px;
    padding-top: 12px;
  }

  &__tags {
    display: flex;
  }

  &__title-a {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
  }

  &__social {
    padding: 4px 0 0 21px;
  }

  &__link:not(:last-child) {
    margin-right: 22px;
  }
}

.comments {
  padding-bottom: 120px;

  &__title {
    @extend %DMSans-700;
    font-size: 24px;
    line-height: 1.5;
    color: #436372;
    margin-bottom: 22px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    &:not(:last-child) {
      padding-bottom: 26px;
    }
  }

  &__item--size {
    max-width: 700px;
    margin-left: auto;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  &__image {
    max-width: 100px;
    width: 100%;
  }

  &__information {
    max-width: 700px;
    width: 100%;
  }

  &__information--size {
    max-width: 570px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__name {
    @extend %DMSans-700;
    font-size: 16px;
    color: #436372;
  }

  &__data {
    @extend %Rubik-400;
    font-size: 14px;
    color: #9e9e9e;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #565872;
    margin-bottom: 10px;
  }

  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    color: #526278;
    transition: color 0.5s;

    &:hover {
      color: red;
    }
  }

  &__box-form {
    padding-top: 80px;
  }

  &__box-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__input {
    display: inline-block;
    width: 400px;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    color: #999999;
    transition: bosder 0.7s;

    &:hover {
      border: 1px solid #a3bbc8;
    }
  }

  &__textarea {
    display: block;
    height: 120px;
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
    resize: none;

    &:hover {
      border: 1px solid #a3bbc8;
    }
  }

  &__btn {
    width: 190px;
    height: 50px;
    background-color: #a3bbc8;
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}

.contact {
  padding-top: 120px;

  &__here {
    display: block;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.2;
    color: #a3bbc8;
    text-align: center;
    transition: color 0.5s;

    &:hover {
      color: rgb(0, 26, 255);
    }
  }

  &__title {
    @extend %DMSans-700;
    font-size: 35px;
    color: #436372;
    text-align: center;
    margin-bottom: 60px;
  }

  &__list-box {
    margin-bottom: 119px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    background-color: #fbfbfb;
    padding: 71px 0;
    border: 3px solid transparent;
    transition: border 0.7s;

    &:hover {
      border: 3px solid #a3bbc8;

      .contact__written {
        background-color: #a3bbc8;

        path {
          fill: #ffffff;
        }
      }
    }
  }

  &__written {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    margin: 0 auto 58px;
    text-align: center;
    padding-top: 18px;
    border-radius: 19px;
    transition: background-color 0.7s;
  }

  &__text {
    @extend %DMSans-700;
    font-size: 20px;
    line-height: 1.3;
    color: #222222;
    text-align: center;
    margin-bottom: 17px;
  }

  &__link {
    display: block;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.8;
    color: #61637b;
    text-align: center;

    &:hover {
      color: red;
    }
  }
}

.map {

  &__contact {
    max-width: 620px;
    width: 100%;
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__input {
    width: 300px;
    height: 50px;
    padding: 14px 21px;
    color: #77788d;
    text-transform: uppercase;
    background-color: #fafafa;
    border: none;
  }

  &__textarea {
    width: 620px;
    height: 175px;
    padding: 17px 21px;
    text-transform: uppercase;
    color: #77788d;
    background-color: #fafafa;
    border: none;
    resize: none;
    margin-bottom: 20px;
  }

  &__btn {
    @extend %DMSans-700;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #a3bbc8;
    border: none;
  }
}











@import 'media';